In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [4]:
df.shape

(10000, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [6]:
df.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [7]:
df.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df['tags']=df['genre']+ ' '+ df['overview']

In [10]:
df['tags']

0       Drama,Crime Framed in the 1940s for the double...
1       Comedy,Drama,Romance Raj is a rich, carefree, ...
2       Drama,Crime Spanning the years 1945 to 1955, a...
3       Drama,History,War The true story of how busine...
4       Drama,Crime In the continuing saga of the Corl...
                              ...
9995    Action,Adventure,Fantasy The story follows the...
9996    Action,TV Movie,Science Fiction,Comedy,Adventu...
9997    Action,Science Fiction,War During World War II...
9998    Adventure,Fantasy,Action,Drama A man named Far...
9999    Thriller,Action,Crime Seeking justice for his ...
Name: tags, Length: 9985, dtype: object

In [11]:
new_df=df[['title','tags']]

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer()

In [13]:
tags_vec=vec.fit_transform(new_df['tags']).toarray()

In [14]:
tags_vec

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
tags_vec.shape

(9985, 28249)

In [16]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(tags_vec)

In [17]:
similarity

array([[1.        , 0.06357094, 0.06536752, ..., 0.07333966, 0.08077975,
        0.06703698],
       [0.06357094, 1.        , 0.04007281, ..., 0.0301007 , 0.03148987,
        0.02909001],
       [0.06536752, 0.04007281, 1.        , ..., 0.03558725, 0.05252235,
        0.03339192],
       ...,
       [0.07333966, 0.0301007 , 0.03558725, ..., 1.        , 0.03269812,
        0.01641076],
       [0.08077975, 0.03148987, 0.05252235, ..., 0.03269812, 1.        ,
        0.03916981],
       [0.06703698, 0.02909001, 0.03339192, ..., 0.01641076, 0.03916981,
        1.        ]])

In [19]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [35]:
recommend('Cinderella')

Cinderella II: Dreams Come True
Cinderella III: A Twist in Time
Cinderella
Donkey Skin
Penelope

In [36]:
new_df.to_csv('final_dataset.csv',index=False)